@use "sass:color";

// variables
$primaryColor: #47113e;
$primaryColorDark: color.scale($primaryColor, $lightness: -15%);

$secondaryColor: #24211f;
$secondaryColorDark: color.scale($secondaryColor, $lightness: -15%);

@import "../../node_modules/bulma/bulma";
// custom styles
:root {
  --bulma-primary-h: 151deg;
  --bulma-primary-s: 65%;
  --bulma-primary-l: 42%;
}

.button.is-primary {
  background-color: $primaryColor;
  border-color: $primaryColor;
  color: white;
  transition: all 0.2s ease;
}

.button.is-primary:hover {
  background-color: $primaryColorDark;
  border-color: $primaryColorDark;
  color: white;
}

.button.is-secondary {
  background-color: $secondaryColor;
  border-color: $secondaryColor;
  color: white;
  transition: all 0.2s ease;
}

.button.is-secondary:hover {
  background-color: $secondaryColorDark;
  border-color: $secondaryColorDark;
  color: white;
}
